*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}

body{
height:100vh;
font-family: Arial, sans-serif;
}
.message_container{
width:100%;
max-width:400px;
background-color:#FFFFFF;
padding:30px;
margin:60px;
margin-left:auto;
margin-right:auto;
color:#5e68a8;
}
.message_box{
display:flex;
flex-wrap:wrap;
justify-content:center;
}
.message_box input,textarea{
margin-bottom:15px;
width:100%;
padding:5px;
}

.btn-outline{
color:#5e68a8;
border:1px solid #5e68a8;

}
.btn-outline:hover{
background-color:#9BA2D3;
color:#FFFFFF;

}
.btn-outline:active:hover{
color:#5e68a8;
border:1px solid #5e68a8;
}