*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}
body{
height:100vh;
font-family: Arial, sans-serif;
}
h3{
color:#5e68a8;
margin:50px;
}
.profile-container{
background-color:#FFFFFF;
width:100%;
max-width:400px;
padding:30px;
display: flex;
justify-content: center;
align-items: center;
color:#5e68a8;
margin-left:auto;
margin-right:auto;
}

form input {
width:100%;
height:35px;
font-size:16px;
padding:10px;
}
form textarea {
width:100%;
height:100px;
font-size:16px;
padding:10px;

}

.btn-outline{
color:#5e68a8;
border:1px solid #5e68a8;

}
.btn-outline:hover{
background-color:#9BA2D3;
border:#9BA2D3;
color:#FFFFFF;
}
.btn-outline:active:hover{
color:#5e68a8;
border:1px solid #5e68a8;
}