*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}
body{
height:100vh;
font-family: Arial, sans-serif;
}
.mb-3{
margin:60px;
margin-left:auto;
margin-right:auto;
}
img{
padding:50px;
margin-left:20px;
}
.col-md-8{
padding:20px;
}
.btn-outline{
color:#5e68a8;
border:1px solid #5e68a8;
}

.btn-outline:hover{
background-color:#9BA2D3;
border:#9BA2D3;
color:#FFFFFF;
}
.btn-outline:active:hover{
color:#5e68a8;
border:1px solid #5e68a8;
}

