*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}

header{
background-color:#9BA2D3;
}
body{
background-color:#DFE2F5;
height:100vh;
font-family: Arial, sans-serif;
}
.navbar-brand{
margin-left:20px;
margin-right:30px;
}
.dropdown-toggle:hover{
margin-right:10px;
color:#9BA2D3;
}
.d-flex button:hover{
background-color:#9BA2D3;
color:#FFFFFF;
}
.dropdown-toggle,
.d-flex button{
margin-right:20px;
}
.search input{
padding:10px;
width:100%;
max-width:400px;
border:none;
font-size:15px;
}
.dropdown-item:hover{
background-color:#DFE2F5;
padding:10px;
}
footer{
margin-top:100px;
}
footer .btn-outline{
color:#FFFFFF;
border:1px solid #FFFFFF;

}
footer .btn-outline:hover{
background-color:#9BA2D3;
color:#5e68a8;
border:1px solid #5e68a8;
}
footer .btn-outline:active:hover{
color:#5e68a8;
border:1px solid #5e68a8;
}
