*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}

body{
height:100vh;
font-family: Arial, sans-serif;
}
.container-fluids h3{
color:#5e68a8;
}
.container-fluids{
display:flex;
flex-wrap:wrap;
margin:60px ;
}
img{
padding:15px;
}
.card{
text-align:center;
border:1px solid #5e68a8;
font-size:10px;
margin-left:auto;
margin-right:auto;
}
.btn-outline{
color:#5e68a8;
border:1px solid #5e68a8;
margin-right:20px;
}
.btn-outline:hover{
background-color:#9BA2D3;
border:#9BA2D3;
color:#FFFFFF;
}
.btn-outline:active:hover{
color:#5e68a8;
border:1px solid #5e68a8;
background:none;
}
