*{
 margin: 0;
 padding: 0;
 outline: none;
 box-sizing: border-box;
}
body{
height:100vh;
font-family: Arial, sans-serif;
}

.profile-container{
background-color:#FFFFFF;
width:100%;
max-width:400px;
padding:30px;
color:#5e68a8;
margin:60px;
margin-left:auto;
margin-right:auto;
}
.btn-outline{
color:#5e68a8;
border:1px solid #5e68a8;

}
.btn-outline:hover{
background-color:#9BA2D3;
border:#9BA2D3;
color:#FFFFFF;
}
.btn-outline:active:hover{
color:#5e68a8;
border:1px solid #5e68a8;
}
.data{
border:1px solid #000000;
padding:5px;
color:#000000;
font-size:16px;
margin-bottom:20px;
}