{% extends 'home.html' %}

{% block content%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>login</title>
</head>
<body>
<div class="login-container">
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-outline">Login</button>
  <a class="btn btn-outline" href="{% url 'signup' %}" role="button">Create account</a>
</form>
 </div>
</body>
</html>
{% endblock content %}