{% extends 'home.html' %}

{% block content%}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <title>Detail View</title>
</head>
<body>
<div class="card mb-3" style="max-width:1000px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ object.image_url }}" class="card-img">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">{{object.title}}</h4>
                <p class="card-text">Author:{{object.author}}</p>
                <p class="card-text"><i>Category:{{object.category}}</i></p>
                <p style="color:">Price:<span>&#8377;</span>{{ object.price| floatformat:2 }}</p>
                <p class="card-text">{{object.description}}</p>

                <a id="add-to-cart-btn" class="btn btn-outline"  href="{% url 'add_to_cart' book_id=book.id %}" onclick="alert('item added to cart')">Cart</a>
                {% if object.book_available is True %}
                <a href="{% url 'checkout' object.pk %}" class="btn btn-outline" role="button">By now</a>
                {% else %}
                <h4 class="text-danger">Out of Stock...! </h4>
                {% endif%}


            </div>

        </div>
    </div>
</div>


</body>
</html>
{% endblock content %}