{% extends 'home.html' %}

{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'create_profile.css'%}">
    <title>Title</title>
</head>
<body>
<h3>My Profile</h3>
<div class="profile-container">

    <form method="post">
       {% csrf_token %}
    {{form.as_p}}
        <a class="btn btn-outline" href="#">Submit</a>
<a href="{% url 'create-profile'  %}" class="btn btn-outline">Edit</a>
    </form>
</div>
</body>
</html>
{% endblock content %}