
{% extends 'home.html' %}

{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'list.css' %}">
    <title>Title</title>
</head>
<body>


 <div class="container">
     <div class="row">
          {% for books in book %}
    <div class="col-lg-3 col-md-4 col-6 mt-3">
        <div class="card" style="width: 14rem;">
            <img src="{{books.image_url }}" class="card-img-top" alt="..." >
            <div class="card-body"> s
           <h5 class="card-title">{{books.title}}</h5>
                <p class="card-text"><i>{{ books.category}}</i></p>
                 <p class="card-text"><span>&#8377;</span>{{ books.price}}</p>
               <p>{% if books.book_available is True %}
                <a class="text-success">Available</a>
                {% else %}
                <a class="text-danger">Out of Stock...! </a>
                {%endif%}</p>
            <a href="{% url 'detail' books.id %}" class="btn btn-outline">View</a>
            </div>
        </div>
        </div>
            {% endfor %}
</div>
 </div>
</div>
</body>
</html>
{% endblock content %}