{% extends 'home.html' %}

{% block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=" {% static 'mycart.css' %}">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    {% if cart_items %}
  <h3>My Cart  <i class="fa fa-shopping-cart" style="font-size:50px;"></i></h3>
</div>
 <div class="container">
 <div class="row">
    {% for cart_item in cart_items %}

<div class="col-lg-3 col-md-4 col-6 mt-3">
        <div class="card" style="width: 14rem;">
            <img src="{{ cart_item.book.image_url }}" class="card-img" alt="{{ cart_item.book.title}}" style="width:100px;height:150px;">
            <div class="card-body">
           <p class="card-title">{{ cart_item.book.title }}</p>
                <p>Price:{{cart_item.book.price }} per Book</p>
            <p>Quantity:{{cart_item.quantity}}</p>
                <p>Total:{{cart_item.total_price }}</p>
            <a class="btn btn-outline" href="{% url 'remove_from_cart' book_id=cart_item.book.id %}" onclick="alert('item removed from cart')">Remove</a>
            </div>

        </div>

    </div>

     {% endfor %}

    <a class="btn btn-success" href="#" onclick="alert('Payment Successfull')">Buy</a>
    {% else %}
    <p>Your cart is empty</p>
    <a href="{% url 'book' %}">Continue Shopping</a>


{% endif %}
</body>
</html>

{% endblock content %}