{% extends 'home.html' %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="meta" name="viewport"
          content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <title>Title</title>
</head>
<body>

<div class="profile-container">
    <h3>My Profile</h3>
{% if profile.exists %}
<form method="get">
     {% csrf_token %}
    {% for myprofile in profile %}
    <div class="input-box">
         <div class="label">Name:</div>
        <div class="data">{{myprofile.first_name}}{{myprofile.last_name}}</div>
      </div>
    <div class="input-box">
         <div class="label">Email:</div>
        <div class="data">{{myprofile.email}}</div>
      </div>

<div class="input-box">
         <div class="label">Phone:</div>
        <div class="data">{{myprofile.phone}}</div>
      </div>
    <div class="input-box">
         <div class="label">Address:</div>
        <div class="data">{{myprofile.address}}</div>
      </div>
     <div class="input-box">
         <div class="label">Alternative address:</div>
        <div class="data">{{myprofile.alternative_address}}</div>
      </div>

    <a class="btn btn-outline" href="{% url 'update-profile' myprofile.id %}">Edit</a>
</form>
    {%endfor%}

{%else%}
<a class="btn btn-outline" href="{% url 'create-profile' %}">Create</a>
{% endif %}
</div>
</body>
</html>

{% endblock content %}