

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <title>Title</title>
</head>
<body>
<div class="container">

    <h2>My Profile</h2>
    <div class="content">
    <form method="get" >
    {% csrf_token %}
        <div class="input-box">
          <label  for="firstname" >First name</label>
          <input type="text"  id="firstname" placeholder="First name" required >
      </div>
         <div class="input-box">
          <label  for="lastname" >Last name</label>
          <input type="text"  id="lastname" placeholder="Last name" required >
      </div>
         <div class="input-box">
          <label for="email" >Email</label>
          <input type="email"  id="email" placeholder="Email" required >
      </div>
    <div class="input-box">
          <label for="phone" >Phone number</label>
          <input type="tel"  id="phone" placeholder="Phone number" required >
      </div>
         <div class="input-box">
          <label  for="address" >Addresss</label>
         <textarea id="address"  placeholder="Address" required></textarea>
      </div>
        <div class="input-box">
          <label  for="anotheraddress" >Alternative addresss</label>
         <textarea id="anotheraddress"  placeholder="Alternative addresss" required></textarea>
      </div>

    </form>

        </div>



</div>
</body>
</html>